table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}
/* Estilos para ambos botones */
button {
    margin: 5px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo del botón de "Editar" (Azul) */
  .btn-edit {
    background-color: #007bff;
  }
  
  .btn-edit:hover {
    background-color: #0056b3;
  }
  
  /* Estilo del botón de "Eliminar" (Rojo) */
  .btn-delete {
    background-color: #dc3545;
  }
  
  .btn-delete:hover {
    background-color: #c82333;
  }
  .mat-form-field{
    font-size: 14px;
    width: 100%;
  }
  
  /* Estilo general del contenedor */
.search-container {
  display: flex;
  justify-content: center; /* Centra el contenido */
  margin: 20px 0; /* Espaciado superior e inferior */
}

/* Estilo para el campo de búsqueda */
mat-form-field {
  width: 100%; /* Toma el ancho completo */
  max-width: 600px; /* Limita el ancho máximo */
  background-color: #217ccc; /* Color de fondo */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

/* Estilo para el input */
input[matInput] {
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
}

/* Estilo del placeholder */
::placeholder {
  color: #fcfcfc; /* Color del placeholder */
 
}
