<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Pais</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of dataSource.data">
        <td>{{ p.idPersona }}</td>
        <td>{{ p.nombres }}</td>
        <td>{{ p.apellidos }}</td>
        <td>{{ p.edad }}</td>
        <td>{{ p.pais.nombre }}</td>
        <td>
          <button class="btn-edit" (click)="editar(p)">
            <mat-icon> edit</mat-icon>
        </button>
          <button class="btn-delete" (click)="eliminar(p.idPersona)">
            <mat-icon> delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>

    <button mat-button color="warn" class="btn-edit" (click)="editar()">
    <mat-icon> persona_add</mat-icon>
    </button>
</table>
  